<html>
    <head>
        <meta charset="utf-8"/>
        <title>No encuentro lo que buscas - caledario</title>
        <link href='{{ base_url() }}/css/style.css' rel='stylesheet' type='text/css'>
    </head>
    <body>

    <div id="head">
        <div class="container width">
            <div id="logo">
                <div id="hoy">31</div>
                <img src="/img/logo.svg">
                <a href="/">caledario</a>
            </div>
            <div id="menu">
                {# <a href="#">Features</a>
                <a href="#">Pricing</a> 
                <a class="cta" href="#">Coming soon</a>#}
            </div>
        </div>
    </div>

    <div id="body">
        <div class="jumbo" style="background-image: url(/img/bg2.jpg);">
            <div class="container width">
                <div class="description">
                    <h1>Get organized, easy</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vulputate ultricies mauris, imperdiet bibendum mauris posuere sit amet. Nullam orci lectus, finibus quis magna in, gravida congue turpis. Fusce ac libero facilisis, luctus sapien vitae, lobortis nisl. Sed elementum lectus velit, et accumsan nisi commodo id.</p>
                </div>
                <form method="post" accept-charset="UTF-8">
                    <input type="hidden" name="action" value="users/send-password-reset-email">
                    
                    <div class="input">
                        <div><label for="name">Your name:</label></div>
                        <input id="name" type="text" name="name">
                    </div>
                    
                    <div class="input">
                        <div><label for="name">Your email:</label></div>
                        <input id="email" type="email" name="email">
                    </div>
                
                    {% if errors is defined %}
                        <ul class="errors">
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    
    <script>
        const d = new Date();
        const hoy = document.getElementById('hoy');
        hoy.innerText = d.toISOString().substr(8,2);
    </script>
    
    </body>
</html>
        
